@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

@font-face {
  font-family: "PPSupplySans-Variable";
  src: url("/fonts/PPSupplySans-Variable.ttf") format("truetype");
}

@keyframes scale-out {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.animate-scale-out {
  animation: scale-out 1s ease-out;
}

.animate-scale-in {
  animation: scale-in 1s ease-out;
}

body {
  font-family: "PPSupplySans-Variable", sans-serif;
}

.bg-grey-gradient {
  background: linear-gradient(
    113deg,
    rgba(16, 25, 66, 0.05),
    rgba(210, 216, 232, 0.2)
  );
}

.bg-blue-gradient {
  background: linear-gradient(
    114deg,
    rgba(210, 216, 232, 0.2) -5.21%,
    rgba(187, 238, 242, 0.2) 28.46%,
    rgba(108, 223, 239, 0.2) 63.27%,
    rgba(69, 164, 176, 0.2) 104.36%
  );
}

.about h1 {
  word-spacing: 2px;
}

.about .content-with-gap {
  word-spacing: 4px;
}

.about-page .toc.selected {
  color: #2d2d2d;
  filter: blur(0);
}

.circle-mask {
  background: linear-gradient(
    114deg,
    rgba(210, 216, 232, 0.2) -5.21%,
    rgba(187, 238, 242, 0.2) 28.46%,
    rgba(108, 223, 239, 0.2) 63.27%,
    rgba(69, 164, 176, 0.2) 104.36%
  );
  -webkit-clip-path: circle(0);
  clip-path: circle(0);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1),
    -webkit-clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
}
.circle-mask .opacity__wrapper {
  opacity: 0;
}
.circle-mask.on {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
  transition-delay: 50ms;
  transition-duration: 1.2s;
  overflow: hidden;
}
.circle-mask.on .opacity__wrapper {
  opacity: 1;
}
.circle-mask.on .card-wrapper {
  position: absolute;
  transform: translate(0);
}
